@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf')format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #ebc5c5;
    --cor1: #e18383;
    --cor2: #dc3d3d;
    --cor3: #a82f2f;
    --cor4: #5c1a1a;
    --cor5: #3d0606;

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--font-padrão);
}

a.externo:after {
    content: '\00A0\1F517';
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-weight: normal;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 3px #000000b4;
}

header > p {
    font-family: var(--font-padrão);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding: 10px 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 3px 3px #000000b4;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px #00000062;
    text-align: center;
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5)
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px #0000007e;
    border-radius: 0px 0px 8px 8px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-weight: normal;
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);
    background-color: var(--cor1);
    padding: 0.5px 4px;
    border-radius: 2px;
    
}

main a:hover {
    text-decoration: underline;
    color:var(--cor2)
}


main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 45%;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 4px 0px 0px #000000b0;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside p {
    color: #2e2e2e;
    padding: 2px;
    margin: auto;
}

aside h3 {
    background-color: var(--cor3);
    text-align: center;
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\000A0\000A0';
    list-style-position: inside;
    columns: 2;
}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1)
}